option_settings:

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:elbv2:listener:443:
    DefaultProcess: admin
    ListenerEnabled: 'true'
    Protocol: HTTPS
    Rules: admin
    SSLCertificateArns: arn:aws:acm:eu-west-3:080266302756:certificate/b18d276d-7f9d-41b1-97d5-a9fa21b43789
  
  aws:elasticbeanstalk:environment:process:http:
    HealthCheckPath: /
    Port: 8000
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:admin:
    HealthCheckPath: /
    Port: 80
    Protocol: HTTP

  aws:elbv2:listenerrule:admin:
    PathPatterns: /
    Priority: 1
    Process: admin
