option_settings:
  aws:elasticbeanstalk:application:environment:
       RDS_HOSTNAME: database-1.chp24ah7shbm.eu-west-3.rds.amazonaws.com
       RDS_USERNAME: postgres
       RDS_PASSWORD: postgres1234
       RDS_DB_NAME: dbuser

container_commands:
  01_initdb:
    command: "source /var/app/venv/*/bin/activate && python3 init_db.py"
    leader_only: true
