packages:
  yum:
    awslogs: []

files:
  "/etc/abdelali.txt":
    mode: "000600"
    owner: root
    group: root
    content: |
      region = `{"Ref":"AWS"::Region"}`
      env = `{ "Ref":"AWSEBEnvironmentName" }`


  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/eb-engine.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "/var/log/eb-engine.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/eb-engine.log

      [/var/log/eb-hooks.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "/var/log/eb-hooks.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/eb-hooks.log

      [/var/log/web.stdout.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "/var/log/web.stdout.log">
      log_stream_name = {instance_id}
      file = /var/log/web.stdout.log
     
      [/var/log/nginx/access.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "/var/log/nginx/access.log">
      log_stream_name = {instance_id}
      file = /var/log/nginx/access.log

      [/var/log/nginx/error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "/var/log/nginx/error.log">
      log_stream_name = {instance_id}
      file = /var/log/nginx/error.log

commands:
  "01":
    command: systemctl enable awslogsd.service
  "02":
    command: systemctl restart awslogsd
